{% extends 'base_public.html' %}
{% block title %}RSS Feeds{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table class="table" id="RssListTable">
        <thead>
          <tr>
            <th scope="col">RSS Feed Url</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in rss_feeds %}
          <tr>
            <td><a href="{{ url_for('main.rss_detail', pk=obj.id) }}">{{ obj.feed_url }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
{% block internal_js %}
<script>
  $(document).ready(function () {
    $('#RssListTable').DataTable();
  });
</script>
{% endblock %}